<html>

<head>
    <meta charset="UTF-8">
    <title>DB Records</title>
</head>

<body>

<div>
    <a href="{% url 'canvas' %}">Create another request</a>
</div>

<table border="1" width="950" style="margin-top: 1em">
    <tr>
        <td>Id</td>
        <td>Task</td>
        <td>Date</td>
        <td>Json</td>
        <td>Status</td>
        <td>Message</td>
        <td>Bytes</td>
        <td>Actions</td>
    </tr>

    {% for task in tasks %}
        <tr>
            <td>{{ task.id }}</td>
            <td>{{ task.data_set }}</td>
            <td>{{ task.task_date }}</td>
            <td>{{ task.json_content }}</td>
            <td>{{ task.status }}</td>
            <td>{{ task.msg }}</td>
            <td>{{ task.bytes }}</td>
            <td>
                <form class='Product-Form' method='post'>
                    {% csrf_token %}
                    <input name="action" value="delete" hidden>
                    <input name="task_id" value="{{ task.id }}" hidden>
                    <button type="submit" class="btn">Delete {{ task.id }}</button>
                </form>
            </td>
        </tr>
    {% endfor %}
</table>
</body>

</html>
