<html>

<head>
    <meta charset="UTF-8">
    <title>DB Records</title>
</head>

<body>

    <div>
        <a href="{% url 'sea_level' %}">Create another request</a>
    </div>

    <table border="1" width="600" style="margin-top: 1em">
        <tr>
            <td>Id</td>
            <td>Date</td>
            <td>Json</td>
        </tr>


        {% for request in requests %}
        <tr>
            <td>{{ request.id }}</td>
            <td>{{ request.request_date }}</td>
            <td>
                {{ request.json_content }}</td>
        </tr>
        {% endfor %}

</body>

</html>