{% load static %}
{% load downloader_extras %}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'downloader/css/reset.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'downloader/css/normalize.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'downloader/css/selection.css' %}"/>
    <script src="{% static 'downloader/js/jquery/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'downloader/js/jquery/jquery.event.drag-2.2.js' %}"></script>
    <script src="{% static 'downloader/js/jquery/jquery.event.drag.live-2.2.js' %}"></script>
    <script src="{% static 'downloader/js/jquery/jquery.event.drop-2.2.js' %}"></script>
    <script src="{% static 'downloader/js/jquery/jquery.event.drop.live-2.2.js' %}"></script>
    <script src="{% static 'downloader/js/jquery/excanvas.min.js' %}"></script>
    <script src="{% static 'downloader/js/sea_level.js' %}"></script>
</head>
<body>

<div class="link">
    <a href="{% url 'db_browser' %}">Browse requests</a>
</div>

<form method="post">
    {% csrf_token %}

    <div class="selection__form">
        <input type="hidden" name="dataset" id="id_dataset" value="reanalysis-era5-single-levels">
        <div class="field field--dataset">
            <div class="selection__container selection__container--dataset formSelection">
                <div class="field__title-bar">
                    <div class="field__name">
                        Form type
                    </div>
                </div>
                <select id="dataset_select">
                    <option value="satellite-sea-level-mediterranean">
                        Sea level daily gridded data for the Mediterranean Sea from 1993 to present
                    </option>
                    <option value="reanalysis-era5-single-levels" selected>
                        ERA5 hourly data on single levels from 1979 to present
                    </option>
                </select>
            </div>
        </div>
    </div>

    <div class="selection__form">
        <div class="field field--product_types">
            <input type="hidden" name="product_types" id="id_product_types">
            <div class="field__name">
                Product types
            </div>
            <ul class="selection__container selection__container--list">
                {% for value, label in options.product_types %}
                    <div class="selection__row selection__row--first">
                        <li class="drop selection__product-types" data-value="{{ value }}">
                            {{ label }}
                        </li>
                    </div>
                {% endfor %}
            </ul>
            <div class="field__footer">
                <div class="field__errors">
                    {% if form.product_types.errors %}
                        At least one option required.
                    {% endif %}
                </div>
                <span>
                <button class="field__button field__button--select" type="button">Select all</button>
                <button class="field__button field__button--clear" type="button">Clear all</button>
            </span>
            </div>
        </div>
    </div>
    <div class="selection__form selection__form--filters">
        <div class="field field--filters">
            <input type="hidden" name="filters" id="id_filters">
            <div class="field__name">
                Filters
            </div>
            <div class="categorySelection">
                <div>Category</div>
                <select class="filter__select">
                    <option>--</option>
                    {% for category in options.categories %}
                        <option value="{{ category.codename }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="filters__container" style="display: none;">
                <div class="filters__section">
                    <div>Options</div>
                    <!-- <button class="field__button field__button--filters field__button--show" type="button"
                            data-filters="options">Show
                    </button> -->
                    <div class="selection__container selection__container--filters filters__options">
                        {% for category in options.categories %}
                            <div class="selection__form filters--{{ category.codename }}"
                                 data-category="{{ category.codename }}" style="display: none;">
                                <div class="selection__container selection__container--filters">
                                    <ul class="selection__container selection__container--list selection__container--filters">
                                        {% for value, label in category.filters %}
                                            <div class="selection__row selection__row--first">
                                                <li class="drop selection__filters enabledOption"
                                                    data-value="{{ value }}"
                                                    data-category="{{ category.codename }}">
                                                    {{ label }}
                                                </li>
                                            </div>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="filters__section">
                    <div>Selected</div>
                    <!-- <button class="field__button field__button--filters field__button--show" type="button"
                            data-filters="selected">Show
                    </button> -->
                    <div class="selection__container selection__container--filters filters__selected">
                        {% for category in options.categories %}
                            <div class="selection__form filters--{{ category.codename }}"
                                 data-category="{{ category.codename }}" style="display: none;">
                                <div class="selection__container selection__container--filters">
                                    <ul class="selection__container selection__container--list selection__container--filters">
                                    </ul>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="selection__form">
        <div class="field field--years">
            <input type="hidden" name="years" id="id_years">
            <div class="field__name">
                Years
            </div>
            <ul class="selection__container selection__container--list">
                <div class="selection__row selection__row--first">
                    {% for num in options.years|rest_range:5 %}
                        <li class="selection__year--invisible"></li>
                    {% endfor %}
                    {% for value, year in options.years %}
                        <li class="drop selection__year" data-value="{{ value }}">
                            {{ year }}
                        </li>
                        {% if year|modulo:5 == 0 %}
                            </div>
                            <div class="selection__row">
                        {% endif %}
                    {% endfor %}
                    {% for num in 2|times %}
                        <li class="selection__year--invisible"></li>
                    {% endfor %}
                    </div>
            </ul>
            <div class="field__footer">
                <span>
                    <button class="field__button field__button--select" type="button">Select all</button>
                    <button class="field__button field__button--clear" type="button">Clear all</button>
                </span>
            </div>
        </div>
        <div class="field field--months">
            <input type="hidden" name="months" id="id_months">
            <div class="field__name">
                Months
            </div>
            <ul class="selection__container selection__container--list">
                <div class="selection__row">
                    {% for value, month in options.months %}
                        <li class="drop selection__month" data-value="{{ value }}">
                            {{ month }}
                        </li>
                        {% if value|modulo:3 == 0 %}
                            </div>
                            <div class="selection__row">
                        {% endif %}
                    {% endfor %}
                    </div>
            </ul>
            <div class="field__footer">
                <span>
                    <button class="field__button field__button--select" type="button">Select all</button>
                    <button class="field__button field__button--clear" type="button">Clear all</button>
                </span>
            </div>
        </div>
        <div class="field field--days">
            <input type="hidden" name="days" id="id_days">
            <div class="field__name">
                Days
            </div>
            <ul class="selection__container selection__container--list">
                <div class="selection__row">
                    {% for value, day in options.days %}
                        <li class="drop" data-value="{{ day }}">
                            {{ day }}
                        </li>
                        {% if day|modulo:7 == 0 %}
                            </div>
                            <div class="selection__row">
                        {% endif %}
                    {% endfor %}
                    {% for num in 4|times %}
                        <li class="selection__day--invisible"></li>
                    {% endfor %}
                    </div>
            </ul>
            <div class="field__footer">
                <span>
                    <button class="field__button field__button--select" type="button">Select all</button>
                    <button class="field__button field__button--clear" type="button">Clear all</button>
                </span>
            </div>
        </div>
        <div class="field field--hours">
            <input type="hidden" name="hours" id="id_hours">
            <div class="field__name">
                Hours
            </div>
            <ul class="selection__container selection__container--list">
                <div class="selection__row">
                    {% for iterator, hour in options.hours %}
                        <li class="drop" data-value="{{ hour }}">
                            {{ hour }}
                        </li>
                        {% if iterator|modulo:6 == 5 %}
                            </div>
                            <div class="selection__row">
                        {% endif %}
                    {% endfor %}
                    </div>
            </ul>
            <div class="field__footer">
                <span>
                    <button class="field__button field__button--select" type="button">Select all</button>
                    <button class="field__button field__button--clear" type="button">Clear all</button>
                </span>
            </div>
        </div>
    </div>

    <div class="format__container">
        <input type="hidden" name="format" id="id_format">

        <div class="field field--format_sea_level" style="display: none;">
            <div class="field__name">
                Format
            </div>
            <ul class="selection__container--list">
                {% for value, format in options.formats_sea_level %}
                    <li class="selection__format">
                        <label>
                            <input name="format" type="radio"
                                   value="{{ value }}">
                            <span class="selection__label">{{ format }}</span>
                        </label>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="field field--format_era5">
            <div class="field__name">
                Format
            </div>
            <ul class="selection__container--list">
                {% for value, format in options.formats_era5 %}
                    <li class="selection__format">
                        <label>
                            <input name="format" type="radio"
                                   value="{{ value }}">
                            <span class="selection__label">{{ format }}</span>
                        </label>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="submission">
        <button type="submit" class="field__button field__button--submit" value="Submit">Submit</button>
        <button type="button" class="field__button field__button--submit">Save draft</button>
    </div>
</form>

</body>
</html>